@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Indie+Flower&family=Kalam:wght@300&family=Montagu+Slab:wght@300&family=Montserrat:ital,wght@0,300;0,400;1,500&family=Source+Serif+Pro:ital,wght@1,300&display=swap');

:root {
    --primary-color: #FBBF24;
}

nav {
    background-color: var(--primary-color);

}

nav div {
    text-align: center;
    font-size: 3rem;
}

body {
    font-family: 'Kalam', cursive;
    font-size: large;
   
}

h1 {
    text-align: center;
    background-color: var(--primary-color);
    padding: 3rem;

    border-top-left-radius: 4rem;
}

footer p {
    text-align: center;
    margin-top: 0rem;
    font-size:  1rem;

}

textarea {
    display: block;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    width: 45%;
    min-height: 10vh;
    margin-top: 2rem;
    font-family: inherit;
    font-size: large;
}

#output {
    display: block;
    margin: auto;
    border: 2px solid black;
    min-height: 10vh;
    max-height: 10vh;
    width: 45%;
    overflow: scroll;
    font-family: 'Indie Flower', cursive;
    font-size: 0px;


}

button:hover {
    background-color: var(--primary-color);
}

button {
    cursor: pointer;
    background-color: darkgray;
    padding: 1rem 1rem;
    font-family: "kalam", cursive;
    font-size: 25px;
    border-radius: .5rem;
    display: block;
    margin: auto;
}

main div {
    display: block;
    margin: auto;
    font-size: 5px;
}

footer {
    margin-bottom: 0px;
    margin-top: 5rem;
    padding: .5rem 2rem;
    background-color: var(--primary-color);
}

footer div {
    text-align: center;
    font-size: 2rem;
}
.box{
    text-align:center;
    font-size: 2rem;
}