@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Indie+Flower&family=Kalam:wght@300&family=Montagu+Slab:wght@300&family=Montserrat:ital,wght@0,300;0,400;1,500&family=Source+Serif+Pro:ital,wght@1,300&display=swap');

:root {
    --primary-color: #FBBF24;
}

nav {
    background-color: var(--primary-color);

}

nav div {
    text-align: center;
    font-size: 3rem;
}

body {
    font-family: 'Kalam', cursive;
    font-size: large;
    margin: 0px;
    position: fixed;

}

h1 {
    text-align: center;
    background-color: var(--primary-color);
    padding: 3rem;

    border-top-left-radius: 4rem;
}

footer p {
    display:block;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
    margin-top: 0rem;
    font: size 10rem;

}

textarea {
    position: relative;
    left: 22rem;
    border: 1.5px solid black;
    box-sizing: border-box;
    width: 45%;
    min-height: 20vh;
    display: block;
    margin-top: 2rem;
    font-family: inherit;
    font-size: large
}

#output {
    position: relative;
    left: 22rem;
    border: 2px solid black;
    min-height: 10vh;
    max-height: 10vh;
    width: 45%;
    overflow: scroll;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;


}

button:hover {
    background-color: var(--primary-color);
}

button {
    background-color: darkgray;
    padding: 1rem 2rem;
    font-family: "kalam", cursive;
    font-size: 25px;
    border-radius: .5rem;
    position: relative;
    left: 22rem;
    margin-top: -15px;
    margin-bottom: 25px;
}

main div {
    position: relative;
    left: 22rem;
    font-size: 5px;
}

footer {
    margin-bottom: 0px;
    margin-top: 5rem;
    padding: .5rem 2rem;
    background-color: var(--primary-color);
}

footer div {
    text-align: center;
    font-size: 2rem;
}
